
body {
    font-family: "Poppins", sans-serif;
    }
    .top-heading {
    font-family: Yeseva One;
    font-size: 50px;
    font-weight: 600;
    }
    .top-heading mission-2022 {
    color: #ffad5a;
    }
    span {
    color: orange;
    }
    h1 {
    margin-left: 10px;
    font-size: 40px;
    }
    .big {
    border-left: 5px solid red;
    }
    section {
    display: flex;
    margin-top: 30px;
    }
    .top-section {
    width: 80%;
    margin-left: 5%;
    }
    .top-section img {
    width: 80%;
    }
    .top-section p {
    width: 80%;
    }
    .button {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    background-color: rgb(241, 60, 36);
    padding: 7px 20px;
    border-radius: 10px;
    }
    .mission-heading {
    text-align: center;
    font-weight: 900px;
    font-size: 50px;
    }
    
    .mission-section {
    width: 90%;
    margin-left: 4%;
    }
    .card-section {
    width: 80%;
    margin-left: 20px;
    margin: 50px 20px;
    padding: 20px 30px;
    background-color: wheat;
    border-radius: 20px;
    }
    .card-section img {
    width: 50%;
    }
    .card-section p {
    width: 100%;
    font-size: 16px;
    color: #424242;
    }
    .develop-section {
    margin-top: 50px;
    }
    .man-pic {
    width: 100%;
    padding: 10px 10px;
    margin-left: 2%;
    margin-right: 30px;
    }
    .man-pic img {
    width: 90%;
    margin-left: 50px;
    border-radius: 20px;
    }
    .developer {
    margin-right: 30px;
    padding-right: 20px;
    }
    .community-section {
    margin-top: 100px;
    }
    .community {
    width: 50%;
    }
    .community img {
    width: 80%;
    border-radius: 20px;
    margin-left: 100px;
    }
    .community-heading {
    margin-left: 20px;
    }
    
    .subscribe-section {
    background-color: rgb(250, 209, 132);
    justify-content: center;
    text-align: center;
    }
    h3 {
    font-size: 30px;
    }
    
    .subscribe-background {
    padding: 10px;
    margin-bottom: 20px;
    }
    
    .subscribe {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: wheat;
    margin-top: 30px;
    height: 300px;
    width: 700px;
    }
    .form-email {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #cad3db;
    width: 300px;
    font-size: 18px;
    color: #0f121f;
    }
    
    .form-button {
    background: #3d9fff;
    width: 150px;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    }
    footer {
    margin-top: 50px;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    }